.App {
  text-align: center;
}

.App-header {
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpaperplay.com%2Fwalls%2Ffull%2Fd%2Ff%2F5%2F52122.jpg&f=1&nofb=1");
  background-size: auto;                      
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

canvas {
  position: relative;
  right: 100%;
  height: 300%;
  width: 300%;
  background-image: url('https://i.pinimg.com/originals/53/9c/48/539c483ff16585f1014ce8bff226bc56.png');
  background-size: contain;                      
  background-repeat: no-repeat;
  background-position: center;
}

#healthbars{
  right: 40%;
  z-index: 1;
  position: absolute;
}

@font-face {
  font-family: 'A_Goblin_Appears_';
  font-style: normal;
  font-weight: normal;
  src: local('A_Goblin_Appears_'), url('A_Goblin_Appears_.woff') format('woff');
  }

* {
  font-family: "A_Goblin_Appears_";
}